.heading {
	text-align: center;
}

.calendarEntries {
	width: 50vw;
	margin-left: 25%;
}

.calendarEntries ul {
	list-style-type: none;
	border-top: 3px solid black;
	padding-top: 15px;
	line-height: 35px;

}

.calendarEntries li {
	border-bottom: 1px solid gray;
}

/*.timeSpan, .titleSpan, .descriptionSpan {
		color: #AAEEBB;
}*/

.date {
	font-size: 2rem;
	font-weight: bold;
}

.footer {
	background-color: black;
	color: white;
	text-align: center;
	margin-bottom: 0;
	padding: 15px 0 25px 0;
}